header {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.9rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header .header-logo {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
    margin-left: 5rem;
    /*
    background-color: rgb(196, 190, 235, .95);
    padding: 1.5rem;
    border: 3px solid #322F44; 
    border-radius: 10px 0px;
    */
    }

header nav {
    margin-right: 5rem;
}
